<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.mapper.LoginMapper">
	<select id="fingPartner" parameterType="com.yc.ssm.entity.Login"
		resultType="com.yc.ssm.entity.Login">
		select * from logining where password=#{password} and
		(email=#{email}
		or phone=#{email})
	</select>

	<insert id="insertPar" parameterType="com.yc.ssm.entity.Login"
		useGeneratedKeys="true" keyProperty="lid">
		insert into
		logining(email,password,regdate,uname,gender)
		values(#{email},#{password},now(),#{uname},#{gender})
	</insert>

	<select id="fingEmail" parameterType="com.yc.ssm.entity.Login"
		resultType="com.yc.ssm.entity.Login">
		select * from logining where email=#{email}
	</select>

	<update id="modifyPwd" parameterType="com.yc.ssm.entity.Login">
		update LOGINING set
		password=#{password} where lid=#{lid}
	</update>

	<update id="newPwd" parameterType="com.yc.ssm.entity.Login">
		update LOGINING set
		password=#{password} where email=#{email}
	</update>
</mapper>