<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.ssm.mapper.SpeaksMapper">
	<resultMap type="PaginationBean" id="PaginationBeanMap">
		<result property="currPage" column="currPage" />
		<result property="pageSize" column="pageSize" />
		<collection property="rows" column="{min=min,max=max,speakman=speakman}"
			ofType="com.yc.ssm.entity.Speaks" select="GetPartTea" />
	</resultMap>

	<select id="PbeanSpeaks" parameterType="java.util.Map"
		resultMap="PaginationBeanMap" useCache="false" flushCache="true">
		select
		count(1) total,ceil(count(1) / ${pBean.pageSize})
		totalPage,${pBean.currPage}
		currPage,${pBean.pageSize}
		pageSize,(${pBean.currPage}-1)*${pBean.pageSize}
		min,${pBean.currPage}*${pBean.pageSize}
		max,#{speakman} speakman
		from
		speaks
		<where>
			<if test="speakman!=null and speakman!=''">
				speakman=#{speakman}
			</if>
		</where>
	</select>
	<select id="GetPartTea" resultType="com.yc.ssm.entity.Speaks">
		select * from speaks
		<where>
			<if test="speakman!=null and speakman!=''">
				speakman=#{speakman}
			</if>
		</where>
		order by senddate desc limit ${min} ,${max}
	</select>

	<insert id="addSpeaks" parameterType="Speaks" useGeneratedKeys="true"
		keyProperty="sid">
		insert into
		speaks(content,speakman,senddate)
		values(#{content},#{speakman} ,now())
	</insert>

	<select id="findSid" resultType="string">
		select max(sid) sid from speaks
	</select>

	<select id="findSpeaks" parameterType="java.util.Map"
		resultType="com.yc.ssm.entity.Speaks">
		select * from speaks where
		sid = #{sid} and
		speakman=#{speakman}
	</select>

	<select id="countSpeaks" parameterType="string" resultMap="listmap">
		select distinct speakman,count(1) counts from speaks
		<where>
			<if test="_parameter!=null and _parameter!=''">
				speakman = #{_parameter}
			</if>
		</where>
		group by speakman
	</select>
	<resultMap type="java.util.Map" id="listmap">
		<result column="counts" property="counts" />
		<result column="speakman" property="speakman" />
	</resultMap>
</mapper>
